body{
    text-align: center;
}

.btn{
    width: 200px;
    height: 200px;
    border-radius: 25%;
    border: 10px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 2rem;
    cursor: pointer;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: brown;
}
.yellow{
    background-color: rgb(252, 191, 78);
}
.green{
    background-color: rgb(90, 151, 0);
}
.purple{
    background-color: purple;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}